* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}

header img {
    height: 25rem;
    border-radius: 30rem;
    position: absolute;
    margin: 20px 0 0 25px;
}

header .titre h1 {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.8rem;
    font-size: 4rem;
    margin: 0 0 0 3rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 10rem 0 10rem;
}

p {
    color: blanchedalmond;
    font-size: 1.5rem;
}

.carre1 {
    height: 20rem;
    width: 20rem;
    border: solid 1px grey;
    background: grey;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carre1 a.lien1 {
    text-align: center;
    color: wheat;
    padding:0rem 3rem 20rem 17rem;
    position: absolute;
}

.carre2 {
    height: 20rem;
    width: 20rem;
    border: solid 1px grey;
    background: grey;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carre2 a.lien2 {
    text-align: center;
    color: wheat;
    padding:0rem 3rem 20rem 17rem;
    position: absolute;
}